body{
    font-family: fantasy;
}
#game {
    /* width: 800px; */
    height: 800px;
    background-image: url("../Images/bg1.png");
    border: 2px solid green;
    cursor: url('../images/objetive.png'), pointer;

}

img {
    position: absolute;
    transform: scale(.5);
/*    transition: transform 2s ease;*/
}

nav{
    height: 30px;
    background: black;
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 20px;
    text-align: center;
}
label[name=score]{
    color: red;
}